1. Анализ данных

In [32]:
import pandas as pd
#import nona.nona
import numpy as np
data = pd.read_csv('assignment_1.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [33]:
# Разбиваем столбец Cabin 
data['Deck'] = data['Cabin'].str.split('/').str.get(0)
data['Side'] = data['Cabin'].str.split('/').str.get(2)
data = data.drop(columns=['Cabin'])
data.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,S

In [34]:
data.isnull().sum() #пропущенные значения

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
Deck            199
Side            199
dtype: int64

In [35]:
#from nona.nona import nona
# Заполняем пропущенные значения
#nona(data=data, algreg=make_pipeline(StandardScaler(with_mean=False), Ridge(alpha=0.1)), algclass=RandomForestClassifier(max_depth=2, random_state=0))
data.fillna(method='ffill', inplace=True)  #простой и удобный способ заполнить пропуски значениями предшествующих объектов
data.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,Side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,S

In [36]:
data.isna().sum() #ПРОВЕРКА

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
Deck            0
Side            0
dtype: int64

In [37]:
# организация признаков 
data = data.drop(columns=['PassengerId', 'Name', 'HomePlanet','Destination', 'Age', 'VIP','RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck','Name'])
data.head()

   CryoSleep  Transported Deck Side
0      False        False    B    P
1      False         True    F    S
2      False        False    A    S
3      False        False    A    S
4      False         True    F    S

In [39]:
# from sklearn import preprocessing
# label_encoder = preprocessing.LabelEncoder()
# data['Deck'] = label_encoder.fit_transform(data['Deck'])
# data['Side'] = label_encoder.fit_transform(data['Side'])

# Кодируем категориальные признаки, в числовой формат
data = pd.get_dummies(data, columns=['Deck', 'Side'])
data.head()

,CryoSleep,Transported,Deck_A,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_P,Side_S
0,False,False,0,1,0,0,0,0,0,0,1,0
1,False,True,0,0,0,0,0,1,0,0,0,1
2,False,False,1,0,0,0,0,0,0,0,0,1
3,False,False,1,0,0,0,0,0,0,0,0,1
4,False,True,0,0,0,0,0,1,0,0,0,1

2. Обучение модели

In [40]:
# X=data[['Cabin', 'CryoSleep']]
X=data.drop(columns=['Transported'])
y=data['Transported']
from sklearn.model_selection import train_test_split
#размеры выборки
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = 0.3, 
                                                    random_state = 42)

In [41]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [42]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
y_pred = model.predict(X_test)                     # Предсказание значений
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))
print('F1-score:', f1_score(y_test, y_pred))       # Оценка качества модели

Accuracy: 0.7154907975460123
Precision: 0.7634703196347032
Recall: 0.6338134950720242
F1-score: 0.6926263463131732